<div class="entry row">
  <div class="title col-12">
    <%= tag.title %>

    <div class="actions">
      <%= link_to(fa_icon('pencil'), sub_tag_edit_path(@sub, tag), remote: true, class: 'update') %>
      <%= link_to(fa_icon('trash'), sub_tag_delete_confirm_path(@sub, tag), remote: true, class: 'delete') %>
    </div>
  </div>
</div>
