/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/node_modules
/coverage
/yarn-error.log
/public/assets
/public/uploads
.byebug_history
/config/master.key
.env.development.local
.env.test.local
.env.production.local