<div class="row">
  <div class="new-post-page__navigation col-12">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <%= link_to(t('.text'), new_text_community_posts_path(community), class: "new-post-page__navigation-link nav-link #{ "active" if current_page?(new_text_community_posts_path(community)) }") %>
      </li>

      <li class="nav-item">
        <%= link_to(t('.link'), new_link_community_posts_path(community), class: "new-post-page__navigation-link new-post__navigation-link_middle nav-link #{ "active" if current_page?(new_link_community_posts_path(community)) }") %>
      </li>

      <li class="nav-item">
        <%= link_to(t('.image'), new_image_community_posts_path(community), class: "new-post-page__navigation-link nav-link #{ "active" if current_page?(new_image_community_posts_path(community)) }") %>
      </li>
    </ul>
  </div>
</div>