<%= form_with(model: @form, url: thing_comment_path(@thing), method: :put, class: 'updateCommentForm col-12 mt-2 mb-2') do |f| %>
  <%= f.text_area :text, label: false %>

  <%= f.submit t('update'), class: 'btn-sm' %>
  <button type="button" class="updateCommentCancel btn btn-sm btn-primary"><%= t('cancel') %></button>
<% end %>