<div class="content col-12 mt-2 mb-1 pl-0 pr-0">
  <iframe style="width: 100%; max-width: 425px; height: 250px;" src="https://www.youtube.com/embed/<%= thing.youtube_id %>" frameborder="0" allowfullscreen></iframe>
</div>