<% content_for(:sidebar) do %>
  <div class="sidebar__item row">
    <div class="sidebar__item-header col-12">
      <%= user.username %>
    </div>

    <div class="sidebar__item-content col-12">
      <%= user.created_at %>
    </div>
  </div>
<% end %>