<% content_for(:sidebar) do %>
  <div class="sidebar row bg-white border rounded mb-3 pt-2 pb-3">
    <div class="col-12">
      <%= link_to(user.username, posts_user_path(user), class: 'font-weight-bold') %>
    </div>

    <div class="col-12 mt-2">
      <%= t('signed_up_at') %><br>
      <%= datetime_short_tag(user.created_at) %>
    </div>
  </div>
<% end %>