<% if pagination.present? %>
  <div class="row mt-3 mb-3">
    <div class="col-12">
      <%= link_to(t('forward'), params.permit(:sub, :sort, :type, :thing_type, :vote_type, :date, :after).merge(after: pagination.to_param), class: 'btn btn-sm btn-primary') %>
    </div>
  </div>
<% end %>