<% content_for(:sidebar) do %>
  <div class="sidebar row text-center border-bottom pb-3">
    <div class="col-12 mt-2">
      <% if user_signed_in? %>
        <%= link_to(t('create_post'), new_post_path, class: 'btn btn-primary btn-block') %>
      <% else %>
        <%= link_to(t('create_post'), new_sign_in_path, remote: true, class: 'signIn btn btn-primary btn-block') %>
      <% end %>
    </div>
  </div>
<% end %>
