<% content_for(:meta_title, @page.title) %>

<div class="page row mt-3">
  <div class="col-12 h5 mb-3">
    <%= link_to(@page.title, global_page_path(@page)) %>
  </div>

  <div class="content col-12">
    <%= @page.text_html.html_safe %>
  </div>
</div>
