<div class="entry row">
  <div class="title col-12">
    <%= link_to(page.title, page_path(page)) %>

    <div class="actions">
      <% if PagePolicy.new(current_user, @sub).update? %>
        <%= link_to(fa_icon('pencil'), edit_page_path(page), class: 'update') %>
      <% end %>

      <% if PagePolicy.new(current_user, @sub).destroy? %>
        <%= link_to(fa_icon('trash'), confirm_page_path(page), remote: true, class: 'delete') %>
      <% end %>
    </div>
  </div>
</div>
