<% content_for(:meta_title, t("pages")) %>

<div id="pages" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('pages'), pages_path) %>
    </div>

    <% if PagePolicy.new(current_user, nil).create? %>
      <div class="actions">
        <%= link_to(t('create'), new_page_path, class: 'create') %>
      </div>
    <% end %>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "page", collection: @records, cached: true %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', after: @after_record %>