<% content_for(:meta_title, @page.title) %>

<% if @sub.present? %>
  <%= render 'subs/sidebar', sub: @sub %>
<% end %>

<div class="page col-12 bg-white border rounded mb-3">
  <div class="row mt-2">
    <div class="col-12 h5">
      <%= link_to(@page.title, page_path(@page)) %>
    </div>

    <div class="content col-12">
      <%= @page.html_text.html_safe %>
    </div>
  </div>
</div>
