<% content_for(:meta_title, @page.title) %>

<% if @sub.present? %>
  <%= render 'subs/second_top_menu' %>
  <%= render 'subs/sidebar' %>
<% end %>

<div class="page col-12 bg-white border rounded mb-3">
  <div class="row mt-2">
    <div class="col-12 h5">
      <%= link_to(@page.title, page_path(@page)) %>
    </div>

    <div class="content col-12">
      <%= @page.text_html.html_safe %>
    </div>
  </div>
</div>
