<% content_for(:meta_title, t("create_post")) %>

<%= render "home/sidebar" %>

<div class="row mt-2">
  <div class="col-12">
    <%= link_to(t('create_post_in'), post_new_path, class: "h5") %>
  </div>
</div>

<div class="row mt-2 mb-3">
  <div class="col-12">
    <%= render partial: "sub", collection: @records, cached: true %>
  </div>
</div>

<%= render "shared/pagination", after: @after_record %>