<div class="entry row">
  <div class="title col-12">
    <%= tag.title %>

    <div class="actions">
      <% if policy(tag).update? %>
        <%= link_to(fa_icon('pencil'), edit_sub_tag_path(tag.sub, tag), remote: true, class: 'update') %>
      <% end %>

      <% if policy(tag).destroy? %>
        <%= link_to(fa_icon('trash'), "#", class: 'delete', data: { url: sub_tag_path(tag.sub, tag) }) %>
      <% end %>
    </div>
  </div>
</div>
