<div class="entry row">
  <div class="title col-12">
    <%= tag.title %>

    <div class="actions">
      <%= link_to(fa_icon('pencil'), edit_tag_path(tag), remote: true, class: 'update') %>
      <%= link_to(fa_icon('trash'), confirm_tag_path(tag), remote: true, class: 'delete') %>
    </div>
  </div>
</div>
