<div class="entry row">
  <div class="title col-12">
    <%= blacklisted_domain.domain %>

    <div class="actions">
      <%= link_to(fa_icon('trash'), confirm_sub_blacklisted_domain_path(@sub, blacklisted_domain), remote: true, class: 'delete') %>
    </div>
  </div>
</div>