<%= render 'shared/modal', title: t('reports'), wide: true do %>
  <div class="modal-body pt-0 pb-0">
    <div id="reports" class="row">
      <div id="list" class="col-12">
        <%= render partial: "report", collection: @reports, cached: true %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('close') %></button>
  </div>
<% end %>