<div class="entry row">
  <div class="title col-12">
    <%= blacklisted_domain.domain %>

    <div class="actions">
      <% if policy(blacklisted_domain).destroy? %>
        <%= link_to(fa_icon('trash'), "#", class: 'delete', data: { url: blacklisted_domain_path(blacklisted_domain) }) %>
      <% end %>
    </div>
  </div>
</div>