<%= render 'shared/modal', title: t('confirmation') do %>
  <div class="modal-body text-right">
    <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('cancel') %></button>
    <%= link_to(t('confirm'), global_deletion_reason_delete_path(@deletion_reason), remote: true, method: :delete, class: 'confirm btn btn-primary') %>
  </div>
<% end %>
