<% content_for(:second_top_menu) do %>
  <li class="nav-item">
    <%= link_to(t("posts"), sub_path(@sub), class: "nav-link") %>
  </li>

  <% if @sub.pages_count.positive? %>
    <li class="nav-item">
      <%= link_to(t("pages"), sub_pages_path(@sub), class: "nav-link") %>
    </li>
  <% end %>
<% end %>