/*
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

$blue: #343a40;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-select/dist/css/bootstrap-select";

body {
  font-size: 15px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  color: #161617;
  background-color: #f8f9fa;
}

.dropdown-header {
  padding: 0.5rem 1rem;
}

.bootstrap-select .dropdown-menu li a.opt {
  padding-left: 1em;
  padding-right: 1em;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #212529;
}

.tooltip-inner {
  max-width: 400px;
  text-align: left;
}

[data-toggle="tooltip"]:not(a) {
  cursor: default;
}

[data-toggle="collapse"], .dropdown-toggle {
  cursor: pointer;
}

form .hidden {
  margin-bottom: 0;
}