.new-post-page {
  padding: 0 1rem 1rem 1rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;

  &__navigation {
    padding: 0 !important;
    margin-bottom: 1rem;
  }

  &__navigation-link {
    font-size: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0 !important;

    &_middle {
      border-left: 1px solid #dee2e6;
      border-right: 1px solid #dee2e6;
    }
  }

  &__formatting-help-link {
    cursor: pointer;
    float: right;
    margin-top: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__formatting-help-description {
    margin-top: 1rem;
  }
}

.edit-post-page {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;

  &__formatting-help-link {
    cursor: pointer;
    float: right;
    margin-top: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__formatting-help-description {
    margin-top: 1rem;
  }
}

.post-page {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;

  &__comment-form {
    margin-top: 1rem;
  }

  &__formatting-help-link {
    cursor: pointer;
    float: right;
    margin-top: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__formatting-help-description {
    margin-top: 1rem;
  }

  &__sign-in-or-sign-up {
    margin-top: 1rem;
  }

  &__sign-up-link, &__sign-in-link {
    color: #006ce1;
  }

  &__sorts-menu {
    margin-top: 1rem;
  }
}

.post {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;

  &__title {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0.25rem;

    a {
      color: #202021;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__information {
    font-size: 13px;
  }

  &__text-content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    a {
      color: #006ce1;
    }

    p {
      margin-bottom: 0.75rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__link-content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    a {
      color: #006ce1;
    }
  }

  &__image-content {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  &__removed-content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__explicit-label,
  &__spoiler-label {
    background-color: #edeff1;
    margin-left: 3px;
    border-radius: 0.25rem;
    padding: 0.25em;
  }

  &__up-vote-link {
    &_up-voted {
      color: #28a745;
    }
  }

  &__down-vote-link {
    &_down-voted {
      color: #dc3545;
    }
  }

  &__approve-link {
    &_approved {
      color: #28a745;
    }
  }

  &__remove-link {
    &_removed {
      color: #dc3545;
    }
  }

  &__actions {
    font-size: 13px;

    * + * {
      margin-left: 5px;
    }

    .dropdown * {
      margin-left: 0;
    }

    .dropdown-toggle::after {
      display: none;
    }
  }
}
