<% content_for(:meta_title, t("rules")) %>

<div id="rules" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('rules'), rules_path) %>
    </div>

    <div class="actions">
      <%= link_to(t('create'), new_rule_path, remote: true, class: 'create') %>
    </div>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "rule", collection: @records, cached: true %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', after: @after_record %>