<% content_for(:meta_title, t("restricted_access")) %>

<%= render "shared/sidebar", community: @community %>

<div class="row">
  <div class="col-12 text-center mt-3">
    <h3><%= t("restricted_access") %></h3>
  </div>
</div>