<% content_for(:meta_title, t(".meta_title")) %>

<%= render "shared/sidebar", community: community %>

<div class="row">
  <div class="authorization-error-page col-12">
    <h3><%= t(".title") %></h3>
  </div>
</div>