<div class="entry row pt-2 pb-2">
  <div class="col-12">
    <%= link_to(report.username, posts_user_path(report.user)) %> <%= report.created_at %>

    <div class="float-right">
      <span class="toggleDetails ml-1"><%= t('details') %></span>
    </div>
  </div>

  <div class="details col-12 pt-2 d-none">
    <%= report.text %>
  </div>
</div>