<div class="reports__item row">
  <div class="col-12">
    <%= link_to(report.username, posts_user_path(report.user)) %> <%= report.created_at %>

    <span class="reports__item-details-link"><%= t('reports.report.details') %></span>
  </div>

  <div class="reports__item-details col-12">
    <%= report.text %>
  </div>
</div>